.carousel-item img{
    height: 90vh;
}
    
.main{

    height: 90vh;

}
.left{
    /* border: 1px solid greenyellow; */
    height: 50vh;
    width: 50vw;
}
.right{
    /* border: 1px solid blue; */
    height: 50vh;
    width: 50vw;
    padding: 1rem;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img{
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
}
.left{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
    }
    .left h1{
        font-size: 2rem;
        color: blue;
       

    }
    .left h5{
        font-size: 2rem ;
       text-align: center;
       color: black;
       
    }
    .left p{
        line-height: 19px;
        letter-spacing: 1.5px;
        color: gray;
       
    }
     .services-cols{
        /* border: 1px solid red; */
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;

     }
     .services-cols .card{
        transition: all ease 0.5s;

     }
     .services-cols .card:hover{
        box-shadow: 10px 10px 15px gray;
        margin-top: -1rem;
        cursor: pointer;

     }
     .rooms-cols{
         /* border: 1px solid red;  */
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
     }
    
      .rooms-cols .card{
        height: 63vh;
        width: 80vw;
        transition: all ease 0.5s;
      } 







